@{
    ViewData["Title"] = "Trang chủ eProject";
    ViewData["Keywords"] = "Từ khoá - eProject";
    ViewData["Description"] = "Mô tả - eProject";
    ViewData["SeoLink"] = ViewData["Host"] + "/eProject";
    ViewData["SeoImage"] = ViewData["Host"] + "/Imgae";
}
@{
    foreach (var item in ViewBag.Role)
    {
        <p>@item.Id</p>
        <p>@item.Name</p>
    }
}
